@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold&subset=latin,latin-ext');

body {
  margin: 0;
  padding: 50px 100px 100px 50px;
  font-family: 'Open Sans';
  font-size: 17px;
  color: #666;
  background: #d9d9d9;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}
p {
  margin: 0;
}
