.Evaluation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 10px 30px;
    border-top: solid 1px #d4d4d4;
}
.Evaluation.red {
    color: #b00;
}
.Evaluation.green {
    color: #0b0;
}
.Evaluation .checkbox {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}
.Evaluation .checkbox svg{
    fill: #000;
}
.Evaluation.red .checkbox svg{
    fill: #b00;
}
.Evaluation div {
    display: flex;
}
