.Card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    width: 60%;
    min-width: 200px;
}
.Card:before {
    content: '';
    position: absolute;
    top: calc(75px / 2);
    transform: translateY(-50%);
    left: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 9px 10px 0;
    border-color: transparent #fff transparent transparent;
}
.Card.red:before {
    border-color: transparent #b00 transparent transparent;
}
.Card.red {
    background: #b00;
    color: white;
}
.Card .judgement {
    position: absolute;
    top: 11px;
    right: 15px;
}
.Card .judgement img {
    width: 20px;
    height: 20px;
}
.Card .judgement.errorIcon svg {
    fill: #b00;
}
.Card .judgement.successIcon svg {
    fill: #0b0;
}
